<%= form_for(@kanban, url: kanbans_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field has-addons">
    <div class="control">
      <%= f.text_field :name, class: "input", placeholder: "かんばん名" %>
    </div>
    <%= f.submit "+", class: "button is-link" %>
  </div>
<% end %>