// Place all the styles related to the kanbans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.is-center {
  text-align: center;
  form {
    display: flex;
    justify-content: center;
  }
}

.kanban-container {
  padding : 1.5rem;
}

.new_kanban {
  padding : 1.5rem;
}

.card {
  border-radius: 0.25rem;
}

.dot-border-bottom {
  border-bottom: 0.04rem dashed #dddddd;
}

.task-row {
  padding-top: 0.5rem;
}

.radius-right {
  border-radius: 0rem 1rem 1rem 0rem !important;
}

.container {
  justify-content: center;
  align-items: center;
}

*[draggable=true] {
  cursor: pointer;
}